.container {
  height: 90%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color_bg);
}

.ul {
  flex: 1 1 auto;
}

.list {
  /* text-decoration: line-through; */
}
