.container {
  height: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color_bg);
}

.ul {
  flex: 1 1 auto;
  overflow: auto;
}

.list {
  padding: 1rem;
}

@media screen and (max-width: 450px) {
  .list {
    padding: 0.2rem;
  }
}
