.form {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1rem;
  background-color: var(--color_dark_bg);
}

.input {
  width: 85%;
  padding: 0.5rem;
  border: none;
  font-size: 20px;
  /* margin-right: 0.2rem; */
}

@media screen and (max-width: 450px) {
  .input {
    width: 80%;
    padding: 1rem;
  }
}

.button {
  padding: 0.8rem 1rem;
  border-radius: 0.2rem;
  border: none;
  background-color: lightblue;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  cursor: pointer;
  transition: 150ms;
}

@media screen and (max-width: 450px) {
  .button {
    padding: 0.9rem;
  }
}

.button:hover {
  background-color: lightpink;
}
